DB_HOST=mysql
DB_USER=poutine_user
DB_PASSWORD=poutine123
DB_NAME=le_poutine_house
DB_PORT=3306
PORT=3000
CORS_ORIGINS=
JWT_SECRET=change_this_to_a_long_random_secret
ADMIN_EMAIL=admin@poutine.local
ADMIN_PASSWORD=change_this_admin_password
PAYPAL_CLIENT_ID=YOUR_PAYPAL_SANDBOX_CLIENT_ID
PAYPAL_SECRET=YOUR_PAYPAL_SANDBOX_SECRET
